$font-family: 'Open Sans', sans-serif;

$font-size-large: clamp(1rem, 5vw, 1.1rem);
$font-size-middle: clamp(0.8rem, 2vw, 1.1rem);
$font-size-small: clamp(0.5em, 1.5vw, 0.7em);

$space-small: 0.5rem;
$space-large: 1rem;

$color-white: #ffffff;
$color-black: #040404;