.form {
  backdrop-filter: blur(8px);
  padding: $space-large;
  width: clamp(300px, 100vw, 800px);
  border: 1px solid rgba(255,255,255,0.1);
}

@include media {
  .form{
    padding: $space-large * 1.5;
  }
}